// app global css in Sass form
@font-face
  font-family: Alegra
  //src: url(./fonts/Alegra.otf)
  //src: url(./fonts/Nilam-Bold.ttf)
  //src: url(./fonts/Nilam.ttf)
  //src: url(./fonts/SweetyStrawberry.ttf)
  //src: url(./fonts/EuropeUnderground_black.ttf)
  //src: url(./fonts/Montserrat-Bold.ttf)
  //src: url(./fonts/Montserrat-Regular.ttf)
  src: url(./fonts/Roboto-Regular.ttf)

// declare a class which applies it
.my-font
  font-family: 'Alegra'

